name: C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install g++
      run: sudo apt-get update && sudo apt-get install g++ -y

    - name: Build all .cpp files
      run: |
        mkdir -p build
        for file in $(find . -name "*.cpp"); do
          g++ "$file" -o "build/$(basename "$file" .cpp)" || exit 1
        done
